<div class="modal">
  <div class="modal-content">
    
    <p style="float: right; cursor: pointer; width: 20px; padding: 10px 25px;"
      class="btn btn-lg btn-primary btn-block" 
      (click)="closeModal()">X</p>

    <div class="wrapper">
      <form class="form-signin" (ngSubmit)="registation()" #userForm="ngForm">       
        <h2 class="form-signin-heading"></h2>
        
        <input type="text" 
              class="form-control" 
              name="username" 
              [(ngModel)] = "user.firstname"
              placeholder="სახელი"
              autofocus="" 
              (keyup)="updateField('firstname')"/>

              <!-- Error Message -->
              @if(textValidationName){
                  <span>{{errorText}}</span>
              }
        

        <input type="text" 
              class="form-control" 
              name="lastName" 
              [(ngModel)] = "user.lastname"
              (keyup)="updateField('lastname')"
              placeholder="გვარი" />  

              <!-- Error Message -->
              @if(textValidationLAstName){
                <span>{{errorText}}</span>
              }

        <input type="text" 
                class="form-control"
                id="username"
                name="phoneNumber" 
                [(ngModel)] = "user.phoneNumber"
                #phoneNumber="ngModel"
                placeholder="ტელეფონის ნომერი" 
                minlength="2"
                (keyup)="updateField('phoneNumber')"
                required/>  
               

          <!-- Error Message -->
          @if(textValidatioPhoneNumber){
            <span>{{phoneErrorText}}</span>
          }
  
        <button class="btn btn-lg btn-primary btn-block" 
                style="float: right; margin-top: 10px; margin-bottom: 20px;"
       
                type="submit">დარეგისტრირდი</button>   
      </form>
    </div>

    <!-- <button class="card-btn" (click)="closeModal()">დახურვა</button> -->
  </div>
</div>