// .alert {
//     font-family: "Roboto", sans-serif;
//     font-weight: 500;
//     font-style: normal;
//   }

.success{
    position: fixed;
    top: 20px;
    right: 20px;
    // opacity: 0.8!important;
    z-index: 999999;
    display: flex;
    align-items: center;
    background-color: rgb(4, 111, 4);
    color: #fff;
    height: 40px;
    padding: 5px;
    border-radius: 5px;
}

.error{
    position: fixed;
    top: 20px;
    right: 20px;
    // opacity: 0.8!important;
    z-index: 999999;
    display: flex;
    align-items: center;
    background-color: rgb(172, 16, 16);
    color: #fff;
    height: 40px;
    padding: 5px;
    border-radius: 5px;
}