<main>
  <article>

    <!-- 
      - #HERO
    -->

    <section class="hero" id="home">
      <div class="container">

        <div class="hero-content">

          <h2 class="h2 hero-title" style="margin-bottom: 100px;">საჩუქრების სანახავად დააჭირეთ ღილაკს</h2>

          <!-- <div class="arrow-animation">
            <img src="../../../assets/GIF image/Down Right Arrow.gif" alt="">
          </div> -->
          

          <div class="button" style="display: flex;">
            <button class="btn" style="display: flex;"
                    (click)="scrollToGift('currentGifts', -60)">
              <p style="font-weight: bold;">მიმდინარე საჩუქრები</p> 
            </button>
            <img  (click)="scrollToGift('currentGifts', -60)"
                  src="../../../assets/GIF image/output-onlinegiftools.gif" 
                  alt="" class="click-animation" >
          </div>


        </div>

        <figure class="hero-banner">
          <img src="../../../assets/image/hero-banner.png" width="694" height="529" loading="lazy" alt="hero-banner"
            class="w-100 banner-animation">
        </figure>

      </div>
    </section>





    <!-- 
      - #ABOUT
    -->

    <section class="section about" id="about">
      <div class="container">

        <figure class="about-banner">
          <img src="../../../assets/image/about-banner.png" width="700" height="532" loading="lazy" alt="about banner"
            class="w-100 banner-animation">
        </figure>

        <div class="about-content">

          <h2 class="h2 section-title underline">რატომ შეიქმნა „გააჩუქე“?</h2>

          <p class="about-text">
            „გააჩუქე“ შეიქმნა ერთი მთავარი მიზნისთვის — გავიხალისოთ და გავაუმჯობესოთ ერთმანეთის ცხოვრება! გვჯერა, 
            რომ პატარა საჩუქარსაც შეუძლია დიდი სიხარულის მოტანა და გულებში სიკეთის გაღვივება. პროექტი არა მხოლოდ 
            იმედისა და სიხარულის გაზიარებაა, არამედ ურთიერთდახმარებისა და ადამიანების გაერთიანების გზა. ჩვენი მიზანია, 
            გავამარტივოთ გზა ადამიანებსა და კომპანიებს შორის.❤️ ხელი შევუწყოთ როგორც დამწყებ ასევე დიდ კომპანიებს რომ კეთილი 
            გზით გაავრცელონ პროდუქტი.
          </p>

          <ul class="stats-list">

            <li class="stats-card">
              <p class="h3 stats-title">9875</p>

              <p class="stats-text">Satisfied Clients</p>
            </li>

            <li class="stats-card">
              <p class="h3 stats-title">7894</p>

              <p class="stats-text">Project Lunched</p>
            </li>

            <li class="stats-card">
              <p class="h3 stats-title">65</p>

              <p class="stats-text">Years Completed</p>
            </li>

          </ul>

        </div>

      </div>
    </section>





    <!-- 
      - #SERVICE
    -->

    <section class="section service" id="services" id="currentGifts">
      <div class="container">

        <h2 class="h2 section-title underline">მიმდინარე საჩუქრები</h2>

        <ul class="blog-list" >

          @for(gift of currentGifts; track gift){
            <li style="display: flex; justify-content: center; width: 36opx; height: 490px;">
              
              <div class="blog-card" >

                <!-- <div class="participants" style="float: right;">
                  <span style="font-size: 12px; 
                              display: flex;
                              margin-top: -25px;
                              margin-bottom: 5px;
                              color: #EF1F76;">მონაწილეობას იღებს: 
                    <b style="margin-top:  2px; font-size: 15px; margin-left: 3px; color: #05b605">{{gift.participantCount}}</b> 
                    <span style="margin-left: 2px;">ადამიანი</span> 
                  </span>

                  <div style=" font-size: 12px; margin-bottom: 5px; display: flex;">
                    <span style="color: #EF1F76; ">საჩუქარი გაჩუქდება:</span> 
                    <span style="margin-left: 2px;">{{ gift.endDate | date}}</span>
                  </div>
                   
                </div> -->
  
                <div class="card-icon" >
                  <img [src]="'data:image/jpeg;base64,' + gift.imageBase64" style="width: 300px; height: 250px" alt="">
                </div>
  
                <h3 class="h3 title" style="text-align: center;">{{ gift.giftName }}</h3>
                
  
                <div class="decription" style="display: flex; 
                                                justify-content: center; 
                                                max-width: 400px;
                                                align-items: center;">

                  <!-- <p class="text" style=" margin-block-end: 0px;">
                    {{ gift.giftDescription }}
                  </p> -->

                  <!-- <span style="margin-left: 5px; margin-right: 5px; height: 35px; font-size: 35px; margin-bottom: 5px;"> | </span> -->

                  <span  style="font-weight: bold;">გამჩუქებელი: </span>

                  <span class="text" style="margin-left: 5px; margin-block-end: 0px;">
                     {{ gift.donor }}
                  </span>

                  <img [src]="'data:image/jpeg;base64,' + gift.donorLogoBase64" style="width: 50px; height: 50px; margin-left: 5px;" alt="">

                </div>
         
  
                <div style="display: flex; justify-content: center; margin-top: 10px;">
                  <button class="btn"
                          (click)="openRegistrationModal(gift.id)" >
                          <h3>ჩაერთე</h3>
                  </button>
                </div>

                <div class="participants">

                    <div style=" display: flex;">
                      <span >
                        <img style="width: 35px; height: 35px;" src="../../../assets/image/IMG_0796.jpg" alt="">
                      </span> 
                      <span style="margin-left: 2px; margin: auto;">{{ gift.endDate | date}}</span>
                    </div>

                    <div class="partocopant-qount" style="display: flex;">
                      <img style="width: 35px; height: 35px;" src="../../../assets/image/IMG_0795.jpg" alt="">
                      <span style="margin-left: 2px; margin: auto;">{{gift.participantCount}}</span>
                    </div>
                    
                </div>
  
              </div>
            </li>
          }

        </ul>

      </div>
    </section>


    <!-- 
      - #BLOG
    -->

    <section class="section service" id="currentGifts">
      <div class="container">

        <h2 class="h2 section-title underline">გაჩუქებული საჩუქრები</h2>

        <ul class="blog-list">

          @for(gift of PresentedgiftsArr; track PresentedgiftsArr){
            <li style="display: flex; justify-content: center; width: 36opx; height: 490px;">
              <div class="blog-card">
  
                <figure class="banner" style="display: flex; justify-content: center;">
                  
                    <img [src]="'data:image/jpeg;base64,' + gift.imageBase64" width="300" height="250" loading="lazy"
                      alt="Vestibulum massa arcu, consectetu pellentesque scelerisque." 
                      class="">
                
                </figure>
  
                <div class="content">
  
                  <h3 class="h3 title">
                    <a style="text-align: center;">
                      {{ gift.giftName }}
                    </a>
                  </h3>
  
                  <!-- <p class="text">
                    მაგიდის საათი, გადაეცა ჩვენს ფეისბუკ გამომწერს
                  </p> -->
  
                  <div class="description">
<!--   
                    <div class="publish-date">
                      <time datetime="2022-03-07"> გამოქვეყნება:{{ gift.startDate | date}}</time>
                    </div> -->

                    <div style="display: flex;">
                      <span>საჩუქარი გადეცა:</span>
                      <span style="margin-left: 2px;">{{ gift.winnerFirstName }}</span>
                      <span style="margin-left: 2px;">{{ gift.winnerLastName }}ს</span>
                    </div>
  
                    <div class="publish-date">  
                      <time datetime="2022-03-07"> გაჩუქდა:{{ gift.endDate | date }}</time>
                    </div>
  
                  </div>
  
                </div>
  
              </div>
            </li>
          }
        

        </ul>

      </div>
    </section>

  </article>
</main>


<!-- მოდალის კონტეინერი -->
 @if(registrationModal){
  <app-registrationforgift [Id]="giftId" (modalClose)="closeModal($event)"></app-registrationforgift>
}
