<main>
  <article>

    <!-- 
      - #HERO
    -->

    <section class="hero" id="home">
      <div class="container">

        <div class="hero-content">

          <h2 class="h2 hero-title">მიმდინარე საჩუქრების სანახავად დააჭირეთ ღილაკს</h2>

          <button class="btn">მიმდინარე საჩუქრები</button>

        </div>

        <figure class="hero-banner">
          <img src="../../../assets/image/hero-banner.png" width="694" height="529" loading="lazy" alt="hero-banner"
            class="w-100 banner-animation">
        </figure>

      </div>
    </section>





    <!-- 
      - #ABOUT
    -->

    <section class="section about" id="about">
      <div class="container">

        <figure class="about-banner">
          <img src="../../../assets/image/about-banner.png" width="700" height="532" loading="lazy" alt="about banner"
            class="w-100 banner-animation">
        </figure>

        <div class="about-content">

          <h2 class="h2 section-title underline">რატომ შეიქმნა „გააჩუქე“?</h2>

          <p class="about-text">
            „გააჩუქე“ შეიქმნა ერთი მთავარი მიზნისთვის — გავიხალისოთ და გავაუმჯობესოთ ერთმანეთის ცხოვრება! გვჯერა, 
            რომ პატარა საჩუქარსაც შეუძლია დიდი სიხარულის მოტანა და გულებში სიკეთის გაღვივება. პროექტი არა მხოლოდ 
            იმედისა და სიხარულის გაზიარებაა, არამედ ურთიერთდახმარებისა და ადამიანების გაერთიანების გზა. ჩვენი მიზანია, 
            გავამარტივოთ გზა ადამიანებსა და კომპანიებს შორის.❤️ ხელი შევუწყოთ როგორც დამწყებ ასევე დიდ კომპანიებს რომ კეთილი 
            გზით გაავრცელონ პროდუქტი.
          </p>

          <ul class="stats-list">

            <li class="stats-card">
              <p class="h3 stats-title">9875</p>

              <p class="stats-text">Satisfied Clients</p>
            </li>

            <li class="stats-card">
              <p class="h3 stats-title">7894</p>

              <p class="stats-text">Project Lunched</p>
            </li>

            <li class="stats-card">
              <p class="h3 stats-title">65</p>

              <p class="stats-text">Years Completed</p>
            </li>

          </ul>

        </div>

      </div>
    </section>





    <!-- 
      - #SERVICE
    -->

    <section class="section service" id="services">
      <div class="container">

        <h2 class="h2 section-title underline">მიმდინარე საჩუქრები</h2>

        <ul class="service-list" style="display: flex; justify-content: center;">

          <li>
            <div class="service-card" style="width: 550px;">

              <div class="card-icon" >
                <img src="../../../assets/image/4.png" style="width: 370px; height: 370px;" alt="">
              </div>

              <h3 class="h3 title">ქოლგა</h3>

              <p class="text">
                გამჩუქებელი: გააჩუქეს გვერდი
              </p>

              <button class="card-btn" aria-label="Show More">
                <!-- <ion-icon name="chevron-forward-outline"></ion-icon> -->
              </button>

            </div>
          </li>

        </ul>

      </div>
    </section>


    <!-- 
      - #BLOG
    -->

    <section class="section blog" id="blog">
      <div class="container">

        <h2 class="h2 section-title underline">გაჩუქებული საჩუქრები</h2>

        <ul class="blog-list">

          <li>
            <div class="blog-card">

              <figure class="banner">
                <a href="#">
                  <img src="../../../assets/image/1.png" width="750" height="350" loading="lazy"
                    alt="Vestibulum massa arcu, consectetu pellentesque scelerisque." class="img-cover">
                </a>
              </figure>

              <div class="content">

                <h3 class="h3 title">
                  <a href="#">
                    მაგიდის საათი
                  </a>
                </h3>

                <p class="text">
                  მაგიდის საათი, გადაეცა ჩვენს ფეისბუკ გამომწერს
                </p>

                <div class="meta">

                  <div class="publish-date">
                    <!-- <ion-icon name="time-outline"></ion-icon> -->

                    <time datetime="2022-03-07">7 March, 2022</time>
                  </div>

                  <button class="comment" aria-label="Comment">
                    <!-- <ion-icon name="chatbubble-outline"></ion-icon> -->

                    <data value="15">15</data>
                  </button>

                  <button class="share" aria-label="Share">
                    <!-- <ion-icon name="share-social-outline"></ion-icon> -->
                  </button>

                </div>

              </div>

            </div>
          </li>

          <li>
            <div class="blog-card">

              <figure class="banner">
                <a href="#">
                  <img src="../../../assets/image/2.png" width="750" height="350" loading="lazy"
                    alt="Quisque egestas iaculis felis eget placerat ut pulvinar mi." class="img-cover">
                </a>
              </figure>

              <div class="content">

                <h3 class="h3 title">
                  <a href="#">
                    ქოლგა
                  </a>
                </h3>

                <p class="text">
                  ქოლგა გადაეცა ჩვენს ფეისბუკ გამომწერს გიორგი ხაჯბას
                </p>

                <div class="meta">

                  <div class="publish-date">
                    <!-- <ion-icon name="time-outline"></ion-icon> -->

                    <time datetime="2022-03-07">7 March, 2022</time>
                  </div>

                  <button class="comment" aria-label="Comment">
                    <!-- <ion-icon name="chatbubble-outline"></ion-icon> -->

                    <data value="15">15</data>
                  </button>

                  <button class="share" aria-label="Share">
                    <!-- <ion-icon name="share-social-outline"></ion-icon> -->
                  </button>

                </div>

              </div>

            </div>
          </li>

        </ul>

      </div>
    </section>

  </article>
</main>